{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="banner-font">Benefits of Reiki?</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-2 mx-3 mx-auto">
                <div class="card w-100 border-0 py-2 px-2">
                    <ul class="my-3">
                        <li>Relief from stress, anxiety, and depression</li>
                        <li>Relaxation with a feeling of peace</li>
                        <li>Reduced or alleviated pain</li>
                        <li>Supports the body in healing itself</li>
                        <li>Restful sleep</li>
                        <li>Emotional healing</li>
                        <li>Increased feeling of mental strength and wellbeing</li>
                        <li>Clearing toxins from the body</li>
                        <li>Supports allopathic and holistic treatment</li>
                        <li>Reduction of side-effects from medications, chemotherapy and anesthesia</li>
                        <li>Supports a strong Immune System</li>
                        <li>Spiritual connection to a Higher Power</li>
                        <li>Personal growth</li>
                        <li>Enhanced meditations</li>
                        <li>Development and trust of intuition</li>
                        <li>The potential to develop spiritual abilities such as extrasensory perception</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}