{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="banner-font">Biography</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-2 mx-3 mx-auto">
                <div class="card w-100 border-0 py-2 px-2">
                    <p>
                        My name is Bailey and I am delighted you are here! Reiki has brought so much joy into my life
                        and I would love to share this special experience with you.</p>
                    <p>
                        I starting my healing career as a nurse. I hold a Master's in Nursing and I am a Certified
                        Family Nurse Practitioner and have working in nurse for 15 years. I saw early on in my work,
                        both for myself and my patients, the negative impact of stress on the body, physically, mentally,
                        and emotionally. Research is now showing that 95% of all diseases are caused by stress on the body.
                        During my days working as a Nurse & Nurse Practitioner I quickly realised that modern medicine was
                        not well equipped to help people manage stress and heal on deeper levels outside the the physical realm.
                    </p>
                    <p>
                        I have spent years learning how to help myself and my patients manage stress and heal. I started looking
                        outside of the mainstream medical care by first learning about nutrition and the importance of what we put
                        on and in our bodies. I have learned about how we can manage stress with movement and that lead me to train
                        to be a Certified Yoga Instructor specialising in Women's & Prenatal Yoga. I have explored the power of sound
                        healing and meditation and am a Certified Sound Healer and trained in Transcendental Meditation.
                    </p>
                     <p>
                        When I first learned about Reiki, it was actually an accident. Coming from a medical mindset, I could understand
                        how the physical modalities I had trained in worked on the body, but channeling non-physical energy - I was very
                        skeptical.
                     </p>
                     <p>
                        Then I had a chance encounter with Reiki at the end of a yoga class one day. I knew my friend teaching the class
                        had been attuned to Reiki, undergoing Reiki levels 1 and 2 training. She came around at the end of the class to
                        give us each a shoulder massage. Before she placed her hands on me, I could feel this gentle, tingling massage at
                        the crown of my head, but her hands were not touching me. It was the most incredible sensation I had ever experienced.
                        After class, I asked her if she was sending Reiki to me before the shoulder massage. She said - no, but that some of
                        her other students had had similar experiences during her classes. She said Reiki is innately intelligent universal
                        energy and Reiki knows exactly where to go. She said sometimes the Reiki just flows out of her when a person near her
                        must need it.
                     </p>
                    <p>
                        Well, I still did not understand what had happened during that class, but that experience would set me on a new path,
                        on a quest to learn as much as I possibly could about Reiki and that mysterious encounter.
                    </p>
                    <p>
                        I then went on to have Reiki sessions which continued to fascinate me. I would leave feeling amazing with a calm and
                        energized peacefulness.  I also saw positive changes start to emerge in my life and experienced new levels of healing
                        from past traumas and experiences.
                    </p>
                    <p>
                        I soon started taking Reiki courses and became attuned to a Master's level. I am constantly learning new Reiki healing
                        techniques and I now hold certifications as:
                    </p>
                    <ul>
                        <li>Usui/Holy Fire III Reiki Master Teacher</li>
                        <li>Angelic Reiki Master Teacher</li>
                        <li>Usui Tera Mai Siechem Master</li>
                        <li>Medical Reiki Master</li>
                        <li>Usui Reiki Master</li>
                        <li>Oceanic Reiki Level I & Celtic Reiki Levels I & II</li>
                        <li>Divine Feminine Energies of Sacred Grace, Sofia, and Eternal Love Frequencies</li>
                    </ul>
                    <p>
                        I am so passionate about this work and how much it can help people. It has completely changed the way I view
                        and interact with the world in so many positive ways. I feel Reiki is an incredible gift to humanity,
                        especially at such a time as now on the planet when so much healing is needed. I would be honored to connect
                        with you wherever you are in the world to bring this healing energy to you.
                    </p>
                    <p>Sending you lots of love!</p>
                    <p>Bailey</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}