{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="banner-font">Terms & Conditions</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-2 mx-3 mx-auto">
                <div class="card w-100 border-0 py-2 px-2">
                    <p>I understand Reiki is therapeutic, relaxing and beneficial in many ways. I understand that Reiki is not a 
                        substitute for medical examination or medical care. I understand that it is recommended I continue working
                        with my medical professionals for any medical conditions or symptoms I am experiencing. 
                    <br/>
                    <br/>
                        I understand my practitioner does not diagnose illness or disease. 
                    <br/>
                    <br/>
                        This document (together with any documents referred to in it) tells you the terms and conditions
                        (the 'Conditions') upon which I will supply the Services to you. You may print a copy for future reference. 
                    <br/>
                    <br/>
                        So far as the context permits, the following words are defined as set out: 
                    <br/>
                    <br/>
                        'Business Day' means a day other than a Saturday, Sunday or public holiday when banks in Dublin are open
                        for business. 
                    <br/>
                    <br/>
                        'Event Outside My Control' has the meaning given in clause 13. 
                    <br/>
                    <br/>
                        'Services' means the services listed on the Website which I may supply. 
                    <br/>
                    <br/>
                        Before confirming your order please read through these Conditions and in particular my cancellations and
                        returns policy at clause 9 and limitation of my liability and your indemnity at clause 11. 
                    <br/>
                    <br/>
                        By ordering any of the Services, you agree to be legally bound by these Conditions. You will be unable to
                         proceed with your transaction if you do not accept these terms and conditions. 
                    <br/>
                    <br/>
                        About me 
                    <br/>
                    <br/>
                        I, Bailey Barbour, own and operate this website.  
                    <br/>
                    <br/>
                        My email address is info@baileybarbourreiki.com 
                    <br/>
                    <br/>
                        Eligibility to purchase from the Website 
                    <br/>
                    <br/>
                        To be eligible to purchase the Services and lawfully enter into and form a contract with me, you must be
                        18 years of age or over. 
                    <br/>
                    <br/>
                        Price of Services 
                    <br/>
                    <br/>
                        The prices of the Services are quoted on the order page.  
                    <br/>
                    <br/>
                        Prices and any other charges quoted on the order page are based on the performance of the Services in the
                        Republic of Ireland unless otherwise specified.  
                    <br/>
                    <br/>
                        Unless otherwise stated, the prices quoted exclude VAT (I am not VAT registered).  
                    <br/>
                    <br/>
                        Payment for Services 
                    <br/>
                    <br/>
                        Payment can be made by any major credit or debit card or by using a PayPal account. 
                    <br/>
                    <br/>
                        By placing an order, you consent to payment being charged to your debit/credit card account or PayPal
                        account as provided on the order form. 
                    <br/>
                    <br/>
                        You must pay one hundred percent of the price of the Services in advance. If you pay me by credit or debit
                        card or PayPal account I will take payment from your card or PayPal account in advance for the advance payment.
                    <br/>
                    <br/>
                        I shall contact you should any problems occur with the authorization of your card or payment through your PayPal
                        account. 
                    <br/>
                    <br/>
                        Order process and formation of a contract  
                    <br/>
                    <br/>
                        All orders are subject to acceptance and availability. If I am unable to supply you with the Services in your
                        order due to matters such as unavailability of stock, materials, key staff or an Event Outside My Control or
                        because I have identified a mistake in the description of the Services or the price stated by me, I will
                        notify you. I will not proceed with the order and will refund any sums you have paid me.  
                    <br/>
                    <br/>
                        Any order placed by you for the Services constitutes an offer to purchase them from me. 
                    <br/>
                    <br/>
                        You agree that if I contact you to acknowledge receipt of your order such communication shall not amount to my
                        acceptance of your offer to purchase the Services. 
                    <br/>
                    <br/>
                        A 'Confirmation Notice' means an email which I send to you to confirm that I shall be providing the requested
                        Services. A Confirmation Notice will be my acceptance of the offer made in the order to which that Confirmation
                        Notice relates.
                    <br/>
                    <br/>
                        A contract between you and me for the supply of the Services (the 'Contract') incorporating the version of
                        these Conditions in force at the time of your order will come into existence when I send you the Confirmation
                        Notice relating to your order. You may print and keep a copy of the Confirmation Notice for future reference.
                    <br/>
                    <br/>
                        If you think that there is a mistake in the Confirmation Notice or if you wish to make any changes, please
                        contact me to discuss this. If you request a change, I will tell you if that is possible and about any changes
                        to the price, delivery or performance dates or any other changes that I need to make as a result of your
                        request. I will ask you if you wish to go ahead with the change.  
                    <br/>
                    <br/>
                        I may make changes to these Conditions as a result of changes in any relevant laws and regulatory requirements,
                        changes to these Conditions as a result of changes in how I accept payment from you, changes in the amount
                        payable by you to the extent of any changes in the VAT included in the price or payable in relation to the
                        price.
                    <br/>
                    <br/>
                        If I make any changes in accordance with clause 6.7 I will give you written notice of the changes before I
                        supply the Services. You can choose to cancel the contract if the change would be significantly to your
                        disadvantage. 
                    <br/>
                    <br/>
                        Any variation to these Conditions which have been incorporated into the Contract or to the Contract other
                        than those mentioned in clause 6.7 shall only be binding when agreed in writing and signed by you and me.
                    <br/>
                    <br/>
                        Performance of Services 
                    <br/>
                    <br/>
                        The Services will be performed via the internet or phone or by the means specified by me when I accept the
                        order. When I accept the order, I will confirm estimated start and completion dates for the performance of
                        the Services. I will endeavor to perform the Services in accordance with these estimated dates and will
                        perform the Services within a reasonable time from the date I accept the order. In the event that an Event
                        Outside My Control prevents me from performing the Services within a reasonable time from the date I accept
                        the order, clause 13 will apply.
                    <br/>
                    <br/>
                        If I need to provide the Services at the premises occupied by you, you will provide access to the premises
                        on the date I have agreed for the Services to be carried out.  
                    <br/>
                    <br/>
                        If you fail to provide access to the premises on the agreed date, you must pay me any additional costs
                        incurred by me in providing the Services to you in the event that despite my reasonable efforts I are
                        unable to obtain access to the premises to provide the Services, I may end the contract with you. I will
                        refund you any money you have paid less my reasonable costs incurred in attempting to perform the Contract. 
                    <br/>
                    <br/>
                        If I ask you to provide me with information in order for me to provide the Services, you must provide me
                        with complete and accurate information by the date I request that you provide it by, otherwise: you must
                        pay me any reasonable sum I charge you to cover any extra work that is necessary as a result of you providing
                        incomplete or inaccurate information.
                    <br/>
                    <br/>
                        you must pay me any additional costs incurred by me in providing the Services to you resulting from you not
                        providing such information to me by the date I have requested. 
                    <br/>
                    <br/>
                        I may suspend the Services by giving you written notice unless you agree to pay such extra costs. In the event
                        that despite my reasonable efforts I am unable to obtain the requested information from you and are therefore
                        unable to supply the Services, I may end the contract with you. I will refund you any money you have paid less
                        my reasonable costs incurred in attempting to perform the Contract.  
                    <br/>
                    <br/>
                        I will not be liable for any delay or non-performance due to your failure to provide me with complete and
                        accurate information by the time I have requested. If I suspend the Services under this clause, you do not
                        have to pay for the Services while they are suspended, but you will remain liable to pay any invoices I have
                        already sent you for Services I have already performed. If there is a problem with the Services. If the
                        Services provided do not conform to the Contract due to them not being provided with reasonable care and skill: 
                    <br/>
                    <br/>
                        you should provide me with details of the problem as soon as reasonably possible; 
                    <br/>
                    <br/>
                        if I repeat the performance of the Services to fix the problem, I will do so at my own cost and as soon as
                        reasonably practicable. As a consumer, you have legal rights in relation to Services not carried out with
                        reasonable skill and care, or if the materials I use are faulty or not as described. Nothing in these
                        Conditions will affect these legal rights.
                    <br/>
                    <br/>
                        Cancelling your Contract and returns  
                    <br/>
                    <br/>
                        Cancelling before Confirmation Notice 
                    <br/>
                    <br/>
                        You may cancel your order for the Services by notifying me of your decision to cancel at any time prior
                        to me sending you a Confirmation Notice. You may notify me of your decision to cancel your order prior
                        to me sending you a Confirmation Notice by sending a statement saying that you wish to cancel quoting your
                        name, address, and your order reference number by: 
                    <br/>
                    <br/>
                        Email at info@baileybarbour.com 
                    <br/>
                    <br/>
                        Post at Unit 3D North Point House, North Point Business Park, New Mallow Road, Cork, T23AT2P, Ireland 
                    <br/>
                    <br/>
                        Cancelling after Confirmation Notice  
                    <br/>
                    <br/>
                        The 'Cancellation Period' means the period of 14 days starting with and including the day after I send you
                        a Confirmation Notice.  
                    <br/>
                    <br/>
                        If you wish me to begin to supply the Services during the Cancellation Period, you must request me to do
                        this and you must acknowledge that you will lose the right to cancel once the Services have been fully
                        performed.  
                    <br/>
                    <br/>
                        Unless the Services have been fully performed under the Contract in accordance with your request and
                        acknowledgment referred to in clause 9.2.2 and subject to clause 9.4, you may cancel the Contract
                        within the Cancellation Period by notifying me of your decision to cancel.  
                    <br/>
                    <br/>
                        You will lose your right to cancel the Contract once the Services have been fully performed in accordance
                        with your request and acknowledgment. 
                    <br/>
                    <br/>
                        You may notify me of your decision to cancel your contract by sending a statement saying that you wish to
                        cancel quoting your name, address, and your order reference number by: 
                    <br/>
                    <br/>
                        Email at info@baileybarbour.com 
                    <br/>
                    <br/>
                        Post at Unit 3D North Point House, North Point Business Park, New Mallow Road, Cork, T23AT2P, Ireland 
                    <br/>
                    <br/>
                        If you cancel the Contract after I have begun the supply of the Services in accordance with your request,
                        you must pay me for the Services I supplied to you before I received notice of your cancellation. 
                    <br/>
                    <br/>
                        Refunds on cancellation 
                    <br/>
                    <br/>
                        So long as you are entitled to cancel and have complied with your obligations under clause 9.2, I will refund
                        you the balance of the price you paid to me after deducting:  
                    <br/>
                    <br/>
                        the value of the Services I supplied before I received your cancellation notice. 
                    <br/>
                    <br/>
                        If the Contract is for the supply of services only or for the supply of goods and services with the main
                        purpose being the supply of services, I will refund you the sum in clause 9.3.1 within 14 days of my
                        receipt of your cancellation notice. 
                    <br/>
                    <br/>
                        I will refund you the sum in clause 9.3.1 using the same method of payment used by you, unless you agree
                        to a refund by a different method of payment. 
                    <br/>
                    <br/>
                        Exception to the right to cancel  
                    <br/>
                    <br/>
                        You will not have a right to cancel in the following situations: 
                    <br/>
                    <br/>
                        The Contract is for goods which are bespoke or have been personalised or which may deteriorate (such as food). 
                    <br/>
                    <br/>
                        The Contract is for goods and/or services the price of which is dependent on fluctuations in the financial
                        market which cannot be controlled by me. 
                    <br/>
                    <br/>
                        You have specifically requested a visit from me to carry out urgent repairs or maintenance. 
                    <br/>
                    <br/>
                        The Contract is for the sale of land or financial services. 
                    <br/>
                    <br/>
                        The Contract is for rental of accommodation for residential purposes. 
                    <br/>
                    <br/>
                        The Contract is for construction or conversion of buildings. 
                    <br/>
                    <br/>
                        The Contract is for gaming, betting and lottery services. 
                    <br/>
                    <br/>
                        The Contract is for accommodation, transport of goods, vehicle rental services, catering or services related
                        to leisure activities where there is a specific date or period for performance. 
                    <br/>
                    <br/>
                        The Contract is for the supply of newspapers, magazines and other periodicals, except for subscription
                        contracts. 
                    <br/>
                    <br/>
                        Complaints  
                    <br/>
                    <br/>
                        If you have a comment, concern or complaint about any Services you have purchased from me, please contact
                        me by email at info@baileybarbour.com or by post at Unit 3D North Point House, North Point Business Park,
                        New Mallow Road, Cork, T23AT2P, Ireland 
                    <br/>
                    <br/>
                        Liability and indemnity  
                    <br/>
                    <br/>
                        I have a duty to supply Services to you that conform to the Contract including a duty to ensure that the
                        Services are carried out with reasonable care and skill I cannot exclude my liability for a failure to
                        comply with these duties mentioned in this sub-clause. Nothing in these Conditions affects your legal
                        rights if these duties are not complied with. You can obtain advice about your legal rights from Citizens
                        Information if you need to. 
                    <br/>
                    <br/>
                        I cannot exclude or limit my responsibility to you for:  
                    <br/>
                    <br/>
                        Death or personal injury resulting from my negligence or the negligence of my employees 
                    <br/>
                    <br/>
                        Fraud or fraudulent misrepresentation. A claim for a defective product against me if I do not give you the
                        name of the person who supplied the product to me within a reasonable time of your request for me to do so.
                        I am responsible for foreseeable loss or damage which you suffer as a result of a breach by me of the
                        contract or as a result of my failure to act with reasonable care and skill. Loss or damage is foreseeable
                        if either it is obvious that it will happen or if, at the time the contract was made, both you and I knew
                        it might happen, for example, if you discussed it with me during the sales process. I am not responsible
                        for unforeseeable losses. 
                    <br/>
                    <br/>
                        You are purchasing the Services as a consumer. If you purchase the Services for any business purpose
                        including for re-sale, I will not be liable for any business losses, loss of profits, loss of contracts,
                        loss of business opportunities, loss of management time, loss of business data or losses due to
                        interruption of your business. 
                    <br/>
                    <br/>
                        I will not be responsible for any delay in performing the Services if I have asked you to provide specified
                        information that is necessary for performing the Services and you have failed to provide complete and
                        accurate information or you have provided such information later than the date I have asked you to supply
                        it by. 
                    <br/>
                    <br/>
                        My rights of termination 
                    <br/>
                    <br/>
                        I reserve the right to terminate the Contract by writing to you if you fail to make any payment to me
                        when due and you still do not make payment within 14 days of me reminding you that payment is due. 
                    <br/>
                    <br/>
                        Events outside my control  
                    <br/>
                    <br/>
                        Except for my obligations under this clause, I shall not be responsible for delays or failures in delivery
                        or performance of my obligations to you resulting from any act, event, omission, failure or accident 
                        outside my reasonable control ('Event Outside My Control'). 
                    <br/>
                    <br/>
                        I will take all reasonable steps to minimize a delay in performing my obligations to you which arises from
                        an Event Outside My Control. I will promptly notify you of any Event Outside My Control which prevents me
                        from or delays me in performing my obligations to you, giving details of it and (where possible) the extent
                        and likely duration of any delay. 
                    <br/>
                    <br/>
                        My performance will be deemed to be suspended for the period that the Event Outside My Control continues.
                        You may end the Contract after I have notified you of an Event Outside My Control and I will then refund
                        you any money you have paid to me under the Contract for the Services which I have been unable to deliver
                        to you. 
                    <br/>
                    <br/>
                        Use of personal data 
                    <br/>
                    <br/>
                        I envisage that I will request personal information from you whilst you use my website. This information
                        will only be requested and processed in accordance with my Privacy and Cookie Notice, which can be found
                        at my <a href="{% url 'privacy_policy' %}" aria-label="Privacy policy">Privacy Policy</a> page  
                    <br/>
                    <br/>
                        In brief, I will act fairly in connection with personal information requested from you, when I request
                        information, I will alert you to my Privacy and Cookie Notice, and unless the information is necessary
                        for a reason specified in the General Data Protection Regulation (GDPR) I will only process it with your
                        consent. Before receiving your information, I'll endeavour to provide the information required by the GDPR.  
                    <br/>
                    <br/>
                        Third party rights 
                    <br/>
                    <br/>
                        Except for my affiliates, directors, employees or representatives, a person who is not a party to the
                        Contract has no right to enforce any term of the Contract, but this does not affect any right or remedy of
                        a third party that exists or is available to them.  
                    <br/>
                    <br/>
                        Alternative Dispute Resolution 
                    <br/>
                    <br/>
                        In the event of a dispute concerning these Conditions or the Contract, including their interpretation and
                        their application to the circumstances giving rise to the dispute, you or I may also refer such a dispute
                        to the Online Dispute Resolution platform, the link for which is
                        <a href="http://ec.europa.eu/consumers/odr/" rel="nofollow" target="_blank">here</a>.
                    <br/>
                    <br/>
                        The business email address to be used to notify me in the case of a dispute is info@baileybarbour.com 
                    <br/>
                    <br/>
                        Other important terms 
                    <br/>
                    <br/>
                        I reserve the right to change the domain address of this Website and any services, products, product prices,
                        product specifications and availability at any time.  
                    <br/>
                    <br/>
                        Every effort is made to keep information regarding stock availability on the Website up to date. However,
                        I do not guarantee that this is the case, or that stock will always be available. 
                    <br/>
                    <br/>
                        If any provision of these terms and conditions is held by any competent authority to be invalid or
                        unenforceable in whole or in part, the validity of the other provisions of the Contract and the remainder
                        of the provision in question will not be affected. 
                    <br/>
                    <br/>
                        All Contracts are concluded in English only.  
                    <br/>
                    <br/>
                        If I fail, at any time during the term of a Contract, to insist upon strict performance of any of your
                        obligations under it or any of these terms and conditions, or if I fail to exercise any of the rights or
                        remedies to which I am entitled under the Contract, this shall not constitute a waiver of such rights or
                        remedies and shall not relieve you from compliance with your obligations. A waiver by me of any default
                        shall not constitute a waiver of any subsequent default. 
                    <br/>
                    <br/>
                        Governing law 
                    <br/>
                    <br/>
                        These Conditions and the Contract are governed by the laws of Ireland. However, if you live outside Ireland
                        but within the EU, you are always entitled to any compulsory consumer protections applicable in the country
                        where you live. 
                    <br/>
                    <br/>
                        Governing jurisdiction 
                    <br/>
                    <br/>
                        You can bring legal proceedings in respect of the Services in the courts of Ireland. If you live in another
                        country in the EU, you can bring legal proceedings in respect of the Services in either the courts of your
                        home country or Ireland.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}