{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="banner-font">What is Reiki?</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-2 mx-3 mx-auto">
                <div class="card w-100 border-0 py-2 px-2">
                    <p class="my-5">
                        Reiki is spiritually guided life force energy. Life force energy resides in all living things. When we as
                        humans interact with our surroundings or go about our daily somewhat stressful lives our life force energy
                        can become depleted. The practice of Reiki helps to restore our life force energy to it's naturally balanced
                        levels. Reiki also provides healing on a mental, physical, spiritual and emotional level. Reiki helps relieve
                        and heal from the effects of stress on the body, mind and spirit. We are living in a constant soup of stress
                        in modern society and Reiki is an excellent tool to help us manage the negative effects of stress on our
                        bodies.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}