body {
    background: url('/media/web_image_42.png') no-repeat fixed;
    background-size: cover;
    background-position: center 100px;
    height: calc(100vh - 212px);
    font-family: 'Montserrat', sans-serif;
}

/* navbar */

.fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.header-container {
    padding-top: 212px;
}

header {
    padding: 0 !important;
}

.nav-item {
    margin: auto 0;
}

.dropdown-menu {
    padding: 0;
}

.dropdown-item {
    padding: 4px 8px;;
}

#delivery-banner {
    background-color: darkgrey;
}

.banner-font {
    text-transform: uppercase;
}

/* hero */

.hero-font {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.25rem;
    border-radius: 0.25rem;
}

/* buttons */

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.update-link,
.remove-item {
    cursor: pointer;
}

/* footer */

footer {
    padding: 25px 0;
}

.footer-link:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.footer-link-right {
    text-align: end;
}

.footer-block {
    width: 50%;
}

/* overlay */

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* bootstrap toasts */

.message-container {
    position: fixed;
    top: 120px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    /* .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 212px;
    } */
}

@media screen and (max-width: 991px) {
    .nav-item,
    .dropdown-menu {
        text-align: center;
    }

    .hero-font {
        font-size: 2rem;
    }
  }

@media screen and (max-width: 425px) {
    .footer-link-right {
        padding-left: 0px;
        /* padding-right: 0px; */
    }

    .footer-link-left {
        /* padding-right: 0px; */
        padding-right: 0px;
    }
}
