{% load static %}

<!doctype html>
<html lang="en">

    <head>

        {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        {% block corejs %}
        <script src="https://kit.fontawesome.com/1ed6f98dad.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
        {% endblock %}

        {% block extra_js %}
        {% endblock %}

        <title>Bailey Barbour {% block extra_title %}{% endblock %}</title>
    </head>

    <body>
        <header class="container-fluid fixed-top">
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="https://images.squarespace-cdn.com/content/v1/59cb891dbebafb736e8b81b3/3015914b-095f-4ca9-bff8-a45090247fa2/86B20F59-2B93-4B72-8926-C8263A8454A4+%281%29.jpg?format=1500w" width="150" height="150" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                Meet Bailey<span class="sr-only">(current)</span>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Biography</a>
                                <a class="dropdown-item" href="#">Reviews</a>
                                <a class="dropdown-item" href="#">Blog</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                About Reiki
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">What is Reiki?</a>
                                <a class="dropdown-item" href="#">Benefits</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'products' %}?category=courses" role="button">
                                Courses
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'products' %}?category=sessions" role="button">
                                Sessions
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                Store
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'products' %}?category=clothes">Clothes</a>
                                <a class="dropdown-item" href="{% url 'products' %}?category=accessories">Accessories</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                Account
                            </a>
                            <div class="dropdown-menu">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                    <a href="" class="dropdown-item">Product Management</a>
                                    {% endif %}
                                    <a href="" class="dropdown-item">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_cart' %}">
                                <div class="text-center">
                                    <div><i class="fas fa-shopping-basket fa-lg"></i></div>
                                    <p class="my-0">
                                        {% if grand_total %}
                                        €{{ grand_total|floatformat:2 }}
                                        {% else %}
                                        €0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="delivery-banner" class="row text-center">
                <div class="col text-white">
                    <h5 class="banner-font my-1">Free delivery on orders over €{{ free_delivery_threshold }}!</h5>                
                </div>            
            </div>
        </header>

        {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% include 'includes/toasts/toast_success.html' %}
            {% endfor %}
        </div>
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}
        <footer class="container-fluid bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 order-2 order-md-1 footer-block footer-link-left">
                        <a class="d-block text-decoration-none text-black mb-3" href="https://www.facebook.com/" target="_blank" rel="nooperner nofollow" aria-label="Visit my Facebook page (opens in a new tab)">
                            <i class="fa-brands fa-facebook text-center d-inline"></i>
                            <p class="d-inline footer-link ml-1">Facebook</p>
                        </a>
                        <a class="d-block text-decoration-none text-black mb-3" href="https://www.youtube.com/" target="_blank" rel="nooperner nofollow" aria-label="Visit my YouTube page (opens in a new tab)">
                            <i class="fa-brands fa-youtube text-center d-inline"></i>
                            <p class="d-inline footer-link ml-1">YouTube</p>
                        </a>
                        <a class="d-block text-decoration-none text-black mb-3" href="https://www.instagram.com/" target="_blank" rel="nooperner nofollow" aria-label="Visit my Instagram page (opens in a new tab)">
                            <i class="fa-brands fa-instagram text-center d-inline"></i>
                            <p class="d-inline footer-link ml-1">Instagram</p>
                        </a>
                        <a class="d-block text-decoration-none text-black mb-3" href="https://www.tiktok.com/" target="_blank" rel="nooperner nofollow" aria-label="Visit my TikTok page (opens in a new tab)">
                            <i class="fa-brands fa-tiktok text-center d-inline"></i>
                            <p class="d-inline footer-link ml-1">TikTok</p>
                        </a>
                        <a class="d-block text-decoration-none text-black" href="https://www.insighttimer.com/" target="_blank" rel="nooperner nofollow" aria-label="Visit my Insight Timer page (opens in a new tab)">
                            <i class="fa-solid fa-info text-center d-inline"></i>
                            <p class="d-inline footer-link ml-1">InsightTimer</p>
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-6 order-1 order-md-2">
                        <div>
                            <form>
                                <div class="text-center">
                                    <h5>Subscribe to our newsletter for offers and discounts</h5>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 order-3 footer-block footer-link-right">
                        <a class="d-block text-decoration-none text-black mb-3" href="#" aria-label="Contact">
                            <p class="d-inline footer-link ml-1">Contact</p>
                        </a>
                        <a class="d-block text-decoration-none text-black mb-3" href="#" aria-label="Frequently asked questions">
                            <p class="d-inline footer-link ml-1">FAQs</p>
                        </a>
                        <a class="d-block text-decoration-none text-black mb-3" href="#" aria-label="Privacy policy">
                            <p class="d-inline footer-link ml-1">Privacy Policy</p>
                        </a>
                        <a class="d-block text-decoration-none text-black mb-3" href="#" aria-label="Terms and conditions">
                            <p class="d-inline footer-link ml-1">Terms & Conditions</p>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
        {% block postloadjs %}
        <script type="text/javascript">
            $('.toast').toast('show');
        </script>
        {% endblock %}

    </body>
</html>