{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="banner-font">Contact Us</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <!-- Contact Us Form -->
            <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-1 mt-2 mx-auto">
                <p class="mb-3">Send us a message using the form below.</p>
                <form action="{% url 'contact' %}" method="POST" id="contact-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-end">
                        <button class="btn btn-black rounded-0 text-uppercase float-right">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}